//- [injector:jademixins]
//- [endinjector]
doctype html
html
  head
    title= yaml.basics.meta.title
    meta(charset='UTF-8')
    meta(content=yaml.basics.meta.description, name='description')
    meta(content=yaml.basics.meta.keywords, name='keywords')
    meta(content='3 days', name='revisit-after')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name='viewport', content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")
    block meta

    link(type="text/plain" rel="author" href="#{path}humans.txt")

    block head

    link(href='#{path}0_basics/main.css', rel='stylesheet')
    if level == 0
      // build:css(bower_components) 0_basics/vendor.css
    else if level == 1
      // build:css(bower_components) ../0_basics/vendor.css
    else
      // build:css(bower_components) ../../0_basics/vendor.css
    // bower:css
    // endbower
    // endbuild

    noscript
      link(href='#{path}0_basics/nojs.css', rel='stylesheet')
    <!--[if lte IE 9]>
    <link href="#{path}0_basics/ie9.css" rel="stylesheet">
    <![endif]-->
  body(class=page)
    +header
    block content
    +footer
    if level == 0
      // build:js({.,.tmp,bower_components}) 0_basics/controller.js
    else if level == 1
      // build:js({.,.tmp,bower_components}) ../0_basics/controller.js
    else
      // build:js({.,.tmp,bower_components}) ../../0_basics/controller.js

    // bower:js
    script(src='/jquery/dist/jquery.js')
    // endbower

    // [injector:js]
    // [endinjector]

    script(src='#{path}0_basics/controller.js')
    // endbuild
